<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sapeu.learnintent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- android:exported 是否导出 -->
        <!--<activity
            android:name=".MyAty"
            android:exported="false"
            android:label="@string/my_aty">-->
        <activity
            android:name=".MyAty"
            android:label="@string/my_aty">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.example.sapeu.learnintent.action.MyAty" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity"
            android:label="@string/main_2">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="com.example.sapeu.learnintent.action.MyAty"/>
                <data android:scheme="app"/>
            </intent-filter>
        </activity>
    </application>

</manifest>